body {
	text-align: center;
	font-size: 40px;
	font-family: 'Trebuchet MS';
	background-color: #FFFFA6;
}

button{
	background: white;
	font-size: 20px;
}

button:hover{
	background: ;
}

#clock{
	color:red;
}